body { 
  background:#f1f7f5; 
  font-size: 100%; 
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
}

ul>li { 
  margin: 0; 
  padding: 0;
}

a { 
  outline: none; 
  border:none; 
  color: #000; 
  font-weight: bold; 
  text-transform: uppercase;
}

p { 
  margin: 0 0 0.1em; 
  line-height: 1.4em; 
  font-size: 1.2em;
}

#wrapper {
  width: 100%;	
  max-width: 1000px;
  margin: 10px auto;
} 

h1, h2, #related h3, form h3 {
  display: none;
}

header {
  height: 135px;
  background-color: white;
}

#related {
  background-color: #c2dde4;
  color: #7462B6;
  height: 45px;
}

#related ul {
  list-style-type: none;
  margin: 0;
}

#related ul>li {
  float: left;
  padding-left: 0.7em;
}

#related a {
  text-decoration: none;
  margin-top: 4px;
  position: relative;
  top: 12px;
}

#related a:hover{
  text-decoration: underline;
}

form {
  float: right;
  padding: 1em;
}


header>img:last-child {
  position: relative;
  top: 14px;
}

nav {
  text-transform: uppercase;
  font-size: 0.8em;
  width: 100%;
  height: 32px;
  background-color: #3600B6;
  padding-top: 12px;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 0 10px;
  color: white;
  border-right: 1px solid white;
}

nav a:hover {
  color: yellow;
}

nav a:last-child {
  border-right: none;
}

/* Image */
section#main-image {
    height: 324px;
    overflow: hidden;
    position: relative;
}

#main-image>div {
  height: 324px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  z-index: 1;
}

#main-img>div:first-child {
    z-index: 2;
}

#main-image>div>p {
  color: green;
  background: rgba(255, 255, 255, 0.8);
  font-size: 3em;
  width: 366px;
  position: absolute;
  top: 55px;
}

/*Calendar Content */
#calendar {
  position: relative;
  display: block;
  background-color: #c1dce3;
  height: 21.85em;
  width: 90%;
  padding: 5%;
}

#calendar section {
  width: 25%;
  float: left;
}

#calendar img {
  position: relative;
  margin-left: -65.5px;
  left: 50%;
}
#calendar div {
  position: relative;
  left: 50%;
  margin-left: -65.5px;
  width: 131px;
  background-color: #EEE;
  min-height: 170px;  
}

#calendar div>h1 {
  position: relative;
  top: -13px;
  display: block;
  text-transform: uppercase;
  font-family: 'Gruppo', cursive;
  font-size: 1.5em;
}

#calendar div>p {
  font-size: .8em;
  margin: .4em;
}

footer {
  width: 80%;
  font-weight: bold;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: .5em;
}

/*Media Queries */

@media only screen 
and (max-width: 1024px) {
      #wrapper {
        width: 90%;
  }
  form {
    display: none;
  }
  nav {
    position: absolute;
    width: 40%;
    z-index: 2;
    right: 5%;
    height: 310px;
  }
  
  nav a {
    display: block;
    font-size: 2.3em;
    line-height: 2.1em;
    border-bottom: 1px solid white;
    }

  #main-image>p {
    font-size: 2.5em;
    width: 7em;
  }
  #calendar {
    height: 40em;
  }
  #calendar>section {
    width: 50%;
  }
  #calendar div {
    width: 75%;
    left: 25%;
  }
  #calendar img {
    left: 25%;
  }
 
}
@media only screen 
and (max-width: 775px) { 
  #main-image {
    display: none;
  }
  nav {
    width: 90%;
    height: 182px;
}
  nav a {
    font-size: 1.4em;
    line-height: 2.0em;
  }
  #calendar {
    top: 190px;
  }
  #calendar>section {
    width: 100%;
  }
  
  #music {
    position: relative;
    top: -120px;
  }
    #play {
    position: relative;
    top: -230px;
  }
    #stay {
    position: relative;
    top: -350px;
  }
 #calendar img {
   left: 10%;
 }
  #calendar div {
   left: 45%;
   top: -145px;
    width: 70%;
   min-height: 120px;
  }
 footer {
   position: absolute;
   top: 1050px;
  }
  
}

@media only screen 
and (max-width: 520px) { 
 #related {
   font-size: 0.7em;
 }
  header>img:last-child {
   width: 80%;
    left: 10%;
  }

  #calendar img {
    width: 50px;
    left: 20%;
}
  #calendar div {
    top: -80px;

}

  #calendar section {
    height: 280px;
  }
  
}